@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.card-prod-wrp-cont {
  font-family: "Roboto", sans-serif;
}

.card-prod-wrp-cont {
  font-family: "Roboto", sans-serif;
}

.card-prod-img {
  max-width: 590px;
  width: 100%;
  margin-right: 16px;
}

@media (max-width: 960px) {
  .card-prod-img {
    margin-right: 0;
  }
}

.card-prod-img__benefits {
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 18px;
}

@media (max-width: 1516px) {
  .card-prod-img__benefits {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 960px) {
  .card-prod-img__benefits {
    margin-bottom: 16px;
  }
}

@media (max-width: 960px) {
  .card-prod-img__dest {
    display: none;
  }
}

.card-prod-img__mob {
  display: none;
}

@media (max-width: 960px) {
  .card-prod-img__mob {
    display: block;
  }
}

.card-prod-img__text {
  margin-bottom: 21px;
}

.card-prod-img__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-prod-img__icon-mar {
  max-width: 78px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-prod-img__wrapper {
  max-width: 491px;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .card-prod-img__wrapper {
    max-width: 371px;
  }
}

@media (max-width: 680px) {
  .card-prod-img__wrapper {
    max-width: 264px;
  }
}

.card-prod-img__v-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-prod-img__img {
  max-width: 491px;
}

@media (max-width: 1080px) {
  .card-prod-img__img {
    max-width: 371px;
  }
}

@media (max-width: 680px) {
  .card-prod-img__img {
    max-width: 264px;
  }
}

.card-prod-img__little-img-w {
  padding-bottom: 8px;
  -webkit-transition: .3s;
  transition: .3s;
}

.card-prod-img__little-img {
  max-width: 65px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

@media (max-width: 680px) {
  .card-prod-img__little-img {
    max-width: 41px;
  }
}

.card-prod-img__little-img.active {
  border-color: green;
}

.card-prod-img__wrp-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.card-prod-img__wrp-min-img {
  padding-top: 17px;
  padding: 27px 16px 27px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 680px) {
  .card-prod-img__wrp-min-img {
    padding: 27px 0;
  }
}

.card-prod-img__border {
  width: 65px;
  height: 65px;
  position: absolute;
  border: 1px solid #009b3e;
  border-radius: 8px;
  top: 39px;
  left: 15px;
}

.card-prod-img__wrp-cont {
  max-width: 590px;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1080px) {
  .card-prod-img__wrp-cont {
    max-width: 470px;
  }
}

@media (max-width: 960px) {
  .card-prod-img__wrp-cont {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  .card-prod-img__wrp-cont {
    max-width: 343px;
  }
}

.card-prod-img__btn-up {
  margin-bottom: 7px;
}

.card-prod-img__wrp {
  margin-bottom: 16px;
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 4px;
}

.my-w {
  height: 450px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media (max-width: 1080px) {
  .my-w {
    height: 376px;
  }
}

@media (max-width: 680px) {
  .my-w {
    height: 238px;
  }
}

.card-product-new-wrp {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #393d38;
  font-family: "Roboto", sans-serif;
}

.card-product-new-name {
  margin-bottom: 18px;
  padding-top: 19px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1516px) {
  .card-product-new-name {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-product-new-name__text {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 400;
}

@media (max-width: 960px) {
  .card-product-new-name__text {
    font-size: 24px;
  }
}

.card-product-new-name__text-bol {
  font-weight: 600;
}

@media (max-width: 960px) {
  .card-product-new-name__text-bol {
    display: block;
  }
}

.card-prod-new-navig {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.card-prod-new-navig__line {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
  z-index: 1px;
}

.card-prod-new-navig__wrp {
  max-width: 849px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  color: #393d38;
  overflow-x: auto;
  scrollbar-color: #458245 #714826;
}

@media (max-width: 960px) {
  .card-prod-new-navig__wrp {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }
}

.card-prod-new-navig__list {
  border-top: 3px solid #009b3e00;
  padding-top: 11px;
  margin-bottom: 11px;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
  white-space: nowrap;
}

.card-prod-new-navig__list + .card-prod-new-navig__list {
  margin-left: 40px;
}

.card-prod-new-navig__list:hover, .card-prod-new-navig__list:active {
  color: #009b3e;
  border-top: 3px solid #009b3e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 960px) {
  .card-prod-new-navig__list {
    margin-bottom: 16px;
  }
}

.card-prod-wrp-cont {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #393d38;
}

@media (max-width: 1516px) {
  .card-prod-wrp-cont {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 960px) {
  .card-prod-wrp-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-info {
  max-width: 894px;
  width: 100%;
}

.card-prod-info__price {
  margin-bottom: 16px;
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1080px) {
  .card-prod-info__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-prod-info__price-buy {
  max-width: 273px;
  width: 100%;
}

@media (max-width: 1080px) {
  .card-prod-info__price-buy {
    margin-bottom: 20px;
  }
}

@media (max-width: 680px) {
  .card-prod-info__price-buy {
    max-width: none;
  }
}

.card-prod-info__price-buy-wrp {
  max-width: 272px;
  width: 100%;
  margin-right: 15px;
}

@media (max-width: 680px) {
  .card-prod-info__price-buy-wrp {
    margin-right: 0;
  }
}

.card-prod-info__price-btn {
  min-height: 40px;
  max-width: 273px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #009b3e;
}

.card-prod-info__price-btn:hover {
  background-color: #287231;
}

@media (max-width: 680px) {
  .card-prod-info__price-btn {
    max-width: none;
  }
}

.card-prod-info__olp-price {
  font-size: 18px;
  color: #363636;
  text-decoration: line-through;
}

@media (max-width: 680px) {
  .card-prod-info__olp-price {
    font-size: 16px;
  }
}

.card-prod-info__price-sale {
  display: none;
}

@media (max-width: 680px) {
  .card-prod-info__price-sale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-prod-info__price-sale-wrp {
  display: none;
}

@media (max-width: 680px) {
  .card-prod-info__price-sale-wrp {
    margin-bottom: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 680px) {
  .card-prod-info__volue-wrp {
    margin-bottom: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-prod-info__volue-sale {
  margin-bottom: 10px;
  color: #ff0000;
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 680px) {
  .card-prod-info__volue-sale {
    margin-bottom: 0;
    margin-right: 7px;
    font-size: 24px;
  }
}

.card-prod-info__volue {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 680px) {
  .card-prod-info__volue {
    font-size: 24px;
  }
}

.card-prod-info__sale {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .card-prod-info__sale {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-prod-info__sale-text {
  height: 85px;
  padding: 30px 13px;
  margin-right: 16px;
  background-color: #e25750;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 680px) {
  .card-prod-info__sale-text {
    display: none;
  }
}

.card-prod-info__title-text {
  max-width: 488px;
  font-size: 20px;
}

@media (max-width: 1376px) {
  .card-prod-info__title-text {
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .card-prod-info__title-text {
    font-size: 14px;
  }
}

.card-prod-info__title {
  margin-bottom: 10px;
  font-weight: 700;
  color: #ff0000;
}

@media (max-width: 600px) {
  .card-prod-info__title {
    margin-bottom: 0;
  }
}

.card-prod-info__text {
  font-weight: 400;
}

@media (max-width: 600px) {
  .card-prod-info__text {
    margin-bottom: 10px;
  }
}

.card-prod-info__sale-wrp {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-prod-info__availability {
  margin-right: 16px;
  margin-bottom: 10px;
  min-height: 40px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 6px;
  background-color: #009b3e1a;
  color: #009b3e;
  white-space: nowrap;
}

@media (max-width: 680px) {
  .card-prod-info__availability {
    display: none;
  }
}

.card-prod-info__availability-mob {
  display: none;
  min-height: 40px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 6px;
  background-color: #009b3e1a;
  color: #009b3e;
  white-space: nowrap;
}

@media (max-width: 680px) {
  .card-prod-info__availability-mob {
    display: block;
    min-height: 40px;
  }
}

.card-prod-info__wrp-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 680px) {
  .card-prod-info__wrp-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-prod-info__img-pos-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 680px) {
  .card-prod-info__img-pos-wrp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-prod-info__img-pos {
  max-width: 118px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #009b3e;
  font-size: 10px;
  line-height: 12px;
}

.card-prod-info__img-pos img {
  margin-right: 5px;
}

@media (max-width: 680px) {
  .card-prod-info__img-pos {
    max-width: 100px;
    font-size: 8px;
  }
}

.card-prod-info__tools-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 680px) {
  .card-prod-info__tools-wrp {
    display: none;
  }
}

.card-prod-info__tools-wrp-mob {
  display: none;
}

@media (max-width: 680px) {
  .card-prod-info__tools-wrp-mob {
    max-width: 90px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card-prod-info__tools {
  margin-right: 39px;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-prod-info__tools img {
  margin-right: 10px;
}

@media (max-width: 680px) {
  .card-prod-info__tools img {
    margin-right: 0;
  }
}

@media (max-width: 680px) {
  .card-prod-info__tools {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.card-prod-info__guarante-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

@media (max-width: 680px) {
  .card-prod-info__guarante-wrp {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.card-prod-info__guarante-img {
  margin-right: 10px;
}

.card-prod-info__guarante-text {
  max-width: 189px;
  margin-right: 16px;
}

@media (max-width: 680px) {
  .card-prod-info__guarante-text {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .card-prod-info__kod {
    display: none;
  }
}

.card-prod-info__guarante-text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-prod-info-deliv {
  margin-bottom: 16px;
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.card-prod-info-deliv__title {
  margin-bottom: 13px;
  position: relative;
  font-size: 18px;
}

.card-prod-info-deliv__line {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
  z-index: 1;
}

.card-prod-info-deliv__title-wrp {
  position: relative;
}

.card-prod-info-deliv__btn-wrp {
  font-size: 16px;
}

.card-prod-info-deliv__btn-od {
  margin-right: 10px;
  position: relative;
  padding-top: 10px;
  border-top: 3px solid #009b3e00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 2;
}

.card-prod-info-deliv__btn-od:hover, .card-prod-info-deliv__btn-od:active {
  color: #009b3e;
  border-top: 3px solid #009b3e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card-prod-info-deliv__btn-ua {
  margin-right: 10px;
  position: relative;
  padding-top: 10px;
  border-top: 3px solid #009b3e00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 2;
}

.card-prod-info-deliv__btn-ua:hover, .card-prod-info-deliv__btn-ua:active {
  color: #009b3e;
  border-top: 3px solid #009b3e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card-prod-info-deliv__btn-wrp {
  margin-bottom: 16px;
  position: relative;
}

.card-prod-info-deliv__text-green {
  color: #009b3e;
}

.card-prod-info-deliv__text-gray {
  color: #8a8a8a;
}

.card-prod-info-deliv__wrp-condi {
  position: relative;
  font-size: 16px;
}

.card-prod-info-deliv__wrp-condi-od {
  margin-bottom: 10px;
}

.card-prod-info-deliv__wrp-text-od {
  margin-bottom: 10px;
}

.card-prod-info-deliv__wrp-ua-pos {
  position: absolute;
  top: 0;
  opacity: 0;
}

.card-prod-info-deliv__wrp-od-pos {
  opacity: 0;
}

.card-prod-info-payment {
  margin-bottom: 16px;
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-info-payment__wrp-icon {
  max-width: 451px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-prod-info-payment__border {
  height: 40px;
  padding: 0 15px;
  margin-right: 16px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #009b3e;
}

.card-prod-description-mini {
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-description-mini__btn {
  color: #009b3e;
  text-decoration: underline;
  font-size: 16px;
}

.card-prod-description-mini__title-text {
  margin-bottom: 10px;
  font-size: 18px;
}

.card-prod-description-mini__text {
  margin-bottom: 10px;
  font-size: 16px;
}

.card-prod-specific {
  margin-bottom: 16px;
}

@media (max-width: 1516px) {
  .card-prod-specific {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-specific__wrp-cont {
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-specific__wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1.7fr;
      grid-template-columns: 0.9fr 1.7fr;
  -ms-grid-rows: 0.2fr 0.2fr 0.2fr;
      grid-template-rows: 0.2fr 0.2fr 0.2fr;
  font-size: 16px;
}

.card-prod-specific__title {
  margin-bottom: 16px;
  font-size: 18px;
}

.card-prod-specific__article {
  font-weight: 400;
  text-transform: uppercase;
  color: #8a8a8a;
}

.card-prod-specific__value-wrp {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .vue-buttomSemiTransparent {
    max-width: 510px;
    width: 100%;
  }
}

.card-prod-descriptiom {
  margin-bottom: 16px;
  font-size: 16px;
}

@media (max-width: 1516px) {
  .card-prod-descriptiom {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-descriptiom__wrp {
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-descriptiom__title {
  margin-bottom: 16px;
  font-size: 18px;
}

.card-prod-downloads {
  margin-bottom: 16px;
  font-size: 16px;
}

@media (max-width: 1516px) {
  .card-prod-downloads {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-downloads__wrp {
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0;
}

.card-prod-downloads__title {
  padding-top: 16px;
  padding-left: 16px;
}

.card-prod-downloads__heading {
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 0.8fr 0.8fr 0.8fr 1.3fr;
      grid-template-columns: 2.1fr 0.8fr 0.8fr 0.8fr 1.3fr;
  -ms-grid-rows: 0.2fr;
      grid-template-rows: 0.2fr;
  text-align: center;
  color: #8a8a8a;
}

@media (max-width: 680px) {
  .card-prod-downloads__heading {
    -ms-grid-columns: 1.5fr 1.1fr 1.1fr;
        grid-template-columns: 1.5fr 1.1fr 1.1fr;
    -ms-grid-rows: 0.2fr;
        grid-template-rows: 0.2fr;
  }
}

.card-prod-downloads__heading-type {
  text-align: left;
}

.card-prod-downloads__technical-doc {
  border-top: 1px solid #009b3e;
  background-color: #009b3e1a;
}

.card-prod-downloads__technical-doc-title {
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px;
}

.card-prod-downloads__technical-doc-text {
  font-size: 16px;
  color: #009b3e;
}

.card-prod-downloads__technical-datachit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 0.8fr 0.8fr 0.8fr 1.3fr;
      grid-template-columns: 2.1fr 0.8fr 0.8fr 0.8fr 1.3fr;
  -ms-grid-rows: 0.2fr;
      grid-template-rows: 0.2fr;
  text-align: center;
}

@media (max-width: 680px) {
  .card-prod-downloads__technical-datachit {
    -ms-grid-columns: 1.5fr 1.1fr 1.1fr;
        grid-template-columns: 1.5fr 1.1fr 1.1fr;
    -ms-grid-rows: 0.2fr;
        grid-template-rows: 0.2fr;
  }
}

.card-prod-downloads__technical-data-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #009b3e;
  text-decoration: underline;
}

@media (max-width: 680px) {
  .card-prod-downloads__technical-data-down-img {
    display: none;
  }
}

@media (max-width: 680px) {
  .card-prod-downloads__date {
    display: none;
  }
}

.card-prod-downloads__technical-data-text {
  margin-right: 10px;
}

@media (max-width: 680px) {
  .card-prod-downloads__technical-data-text {
    margin-right: 0;
  }
}

.card-prod-cont-wrp {
  max-width: 1197px;
  width: 100%;
  margin-right: auto;
}

.card-prod-promotional-goods {
  padding: 0;
}

@media (max-width: 1516px) {
  .card-prod-promotional-goods {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-promotional-goods__title {
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 32px;
  font-size: 24px;
}

.card-prod-promotional-goods__wrp {
  background-color: #009b3e1a;
}

.card-prod-reviews {
  margin-bottom: 16px;
  max-width: 1197px;
  width: 100%;
  margin-right: auto;
}

@media (max-width: 1516px) {
  .card-prod-reviews {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-reviews__wrp {
  padding-top: 20px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.card-prod-reviews__title {
  margin-bottom: 16px;
  font-size: 18px;
}

.card-prod-reviews__btn {
  padding: 8px 16px;
  color: #009b3e;
  border: 1px solid #009b3e;
  border-radius: 6px;
  font-size: 16px;
}

.card-prod-reviews__box {
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-reviews__img-name {
  margin-right: 10px;
  max-width: 62px;
  width: 100%;
  height: 62px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.card-prod-reviews__wrp-name {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-prod-reviews__name {
  padding-left: 5px;
  margin-bottom: 6px;
  font-size: 18px;
}

.card-prod-reviews__name-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-prod-reviews__text {
  margin-bottom: 16px;
  font-size: 16px;
}

.card-prod-reviews__text-like {
  max-width: 330px;
  width: 100%;
  padding-left: 8px;
  font-size: 14px;
}

.card-prod-reviews__text-like-green {
  color: #009b3e;
}

.card-prod-reviews__like-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 680px) {
  .card-prod-reviews__like-wrp {
    margin-bottom: 16px;
  }
}

.card-prod-reviews__text-dislike-red {
  color: #e25750;
}

.card-prod-reviews__likes {
  max-width: 800px;
  width: 100%;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 680px) {
  .card-prod-reviews__likes {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-prod-reviews__answer {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #009b3e;
  text-decoration: underline;
}

.card-prod-reviews__answer-pos {
  max-width: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-prod-reviews__line {
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
  background-color: #8a8a8a;
}

.card-prod-reviews__line-ver {
  width: 10px;
  margin-right: 21px;
  background-color: #009b3e;
  border-radius: 34px;
}

@media (max-width: 680px) {
  .card-prod-reviews__line-ver {
    display: none;
  }
}

.card-prod-reviews__wrp-gv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.viewed-prod-card__title {
  padding-left: 16px;
  font-size: 24px;
  font-weight: 600;
}

.card-prod-body-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.floating-card-prod {
  max-width: 286px;
  width: 100%;
  padding: 16px 20px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.floating-card-prod__wrp {
  position: relative;
}

.floating-card-prod__icon-wrp {
  position: absolute;
  top: 0;
  right: 0;
}

.floating-card-prod__icon-like {
  margin-bottom: 21px;
}
/*# sourceMappingURL=main_card.css.map */