@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  min-height: 100vh;
  width: 100%;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.card-prod-wrp-cont {
  font-family: "Roboto", sans-serif;
}

.card-prod-wrp-cont {
  font-family: "Roboto", sans-serif;
}

.card-prod-img {
  max-width: 590px;
  width: 100%;
  margin-right: 16px;
}

@media (max-width: 960px) {
  .card-prod-img {
    max-width: 100%;
    margin-right: 0;
  }
}

.card-prod-img__benefits {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 18px;
}

@media (max-width: 1516px) {
  .card-prod-img__benefits {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 960px) {
  .card-prod-img__benefits {
    margin-bottom: 16px;
  }
}

@media (max-width: 960px) {
  .card-prod-img__dest {
    display: none;
  }
}

.card-prod-img__mob {
  display: none;
}

@media (max-width: 960px) {
  .card-prod-img__mob {
    display: block;
  }
}

.card-prod-img__text {
  margin-bottom: 21px;
}

.card-prod-img__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-prod-img__icon-mar {
  max-width: 78px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-prod-img__wrapper {
  max-width: 491px;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .card-prod-img__wrapper {
    max-width: 371px;
  }
}

@media (max-width: 680px) {
  .card-prod-img__wrapper {
    max-width: 264px;
  }
}

.card-prod-img__v-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-prod-img__img {
  max-width: 491px;
}

@media (max-width: 1080px) {
  .card-prod-img__img {
    max-width: 371px;
  }
}

@media (max-width: 680px) {
  .card-prod-img__img {
    max-width: 264px;
  }
}

.card-prod-img__little-img-w {
  padding-bottom: 8px;
  -webkit-transition: .3s;
  transition: .3s;
}

.card-prod-img__little-img {
  max-width: 65px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

@media (max-width: 680px) {
  .card-prod-img__little-img {
    max-width: 41px;
  }
}

.card-prod-img__little-img.active {
  border-color: green;
}

.card-prod-img__wrp-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.card-prod-img__wrp-min-img {
  padding-top: 17px;
  padding: 27px 16px 27px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 680px) {
  .card-prod-img__wrp-min-img {
    padding: 27px 0;
  }
}

.card-prod-img__border {
  width: 65px;
  height: 65px;
  position: absolute;
  border: 1px solid #009b3e;
  border-radius: 8px;
  top: 39px;
  left: 15px;
}

.card-prod-img__wrp-cont {
  max-width: 590px;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1080px) {
  .card-prod-img__wrp-cont {
    max-width: 470px;
  }
}

@media (max-width: 960px) {
  .card-prod-img__wrp-cont {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  .card-prod-img__wrp-cont {
    max-width: 343px;
  }
}

.card-prod-img__btn-up {
  margin-bottom: 7px;
}

.card-prod-img__wrp {
  margin-bottom: 16px;
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 4px;
}

.my-w {
  height: 450px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media (max-width: 1080px) {
  .my-w {
    height: 376px;
  }
}

@media (max-width: 680px) {
  .my-w {
    height: 238px;
  }
}

.card-prod-nav-reviews {
  display: none;
}

@media (max-width: 1516px) {
  .card-prod-nav-reviews {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-nav-reviews__wrp {
  max-width: 1197px;
  width: 100%;
  margin-right: auto;
}

.card-prod-nav-reviews__wrp-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-prod-nav-reviews__main-text {
  padding-left: 16px;
  margin-bottom: 16px;
}

.card-prod-nav-reviews__pos {
  max-width: 1198px;
  width: 100%;
}

.overall-rating-card-prod {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 405px;
  width: 100%;
  margin-right: 16px;
  padding: 16px;
}

@media (max-width: 1516px) {
  .overall-rating-card-prod {
    margin-bottom: 16px;
  }
}

.overall-rating-card-prod__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overall-rating-card-prod__num {
  margin-bottom: 16px;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  color: #009b3e;
}

.overall-rating-card-prod__title {
  margin-bottom: 16px;
  font-size: 18px;
}

.overall-rating-card-prod__star {
  margin-bottom: 10px;
}

.overall-rating-card-prod__text {
  font-size: 18px;
  text-align: center;
}

.reviews-slider-card-prod {
  max-width: 777px;
  width: 100%;
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.reviews-slider-card-prod__title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
}

.reviews-page-top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1516px) {
  .reviews-page-top-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rating-scale {
  position: relative;
  z-index: 5;
}

.rating-scale__wrp + .rating-scale__wrp {
  margin-top: 10px;
}

.rating-scale__wrp {
  width: 124px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.rating-scale__des {
  width: 124px;
  height: 10px;
  background-color: #c4c4c4;
  position: relative;
  border-radius: 34px;
}

.rating-scale__act {
  width: 90px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: 40px;
  background-color: #fbbd09;
  border-radius: 34px;
  z-index: 50;
}

.rating-scale__num {
  margin-right: 3px;
}

.rating-scale__star-icon {
  margin-right: 4px;
}

.rating-scale__pos-wrp {
  margin-right: 10px;
}

.rating-scale__num-style {
  color: #009b3e;
  text-decoration: underline;
}

.slider-rev__img {
  max-width: 170px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.slider-rev__img + .slider-rev__img {
  margin-left: 16px;
}

.slider-rev__wrp {
  max-width: 728px;
  overflow: hidden;
}

.slider-rev__img-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pop-up-reviews-card {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 499px;
  width: 100%;
}

.pop-up-reviews-card__title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
}

.pop-up-reviews-card__star-wrp {
  margin-bottom: 32px;
}

.pop-up-reviews-card__inp-style {
  margin-bottom: 10px;
  border: 1px solid #8a8a8a;
  max-width: 467px;
  width: 100%;
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 8px;
}

.pop-up-reviews-card__inp-comments {
  border: 1px solid #8a8a8a;
  max-width: 467px;
  width: 100%;
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 8px;
  min-height: 91px;
}

.pop-up-reviews-card__lab {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.pop-up-reviews-card__video-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pop-up-reviews-card__wrp-bene {
  margin-bottom: 16px;
}

.pop-up-reviews-card__video-btn {
  min-height: 40px;
  max-width: 273px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #009b3e;
  font-size: 18px;
  height: 40px;
  max-width: 171px;
  margin-bottom: 10px;
  font-size: 18px;
}

.pop-up-reviews-card__video-btn:hover {
  background-color: #287231;
}

.pop-up-reviews-card__video {
  max-width: 280px;
  width: 100%;
}

.pop-up-reviews-card__photo {
  margin-bottom: 10px;
  padding: 16px 16px 10px 10px;
  border: 1px solid #8a8a8a;
  border-radius: 8px;
}

.pop-up-reviews-card__photo-text-wrp {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.pop-up-reviews-card__photo-btn {
  min-height: 40px;
  max-width: 273px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #009b3e;
  font-size: 18px;
  max-width: 168px;
  height: 40px;
  font-size: 18px;
}

.pop-up-reviews-card__photo-btn:hover {
  background-color: #287231;
}

.pop-up-reviews-card__img-wrp {
  width: 65px;
  height: 65px;
  position: relative;
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  cursor: pointer;
}

.pop-up-reviews-card__img-wrp:hover .pop-up-reviews-card__img-del {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pop-up-reviews-card__img-wrp:hover {
  border: 1px solid #009b3e;
}

.pop-up-reviews-card__img-del {
  position: absolute;
  top: 19px;
  left: 21px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pop-up-reviews-card__photo-text {
  max-width: 254px;
}

.pop-up-reviews-card__cust-chec {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.pop-up-reviews-card__cust-chec + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pop-up-reviews-card__cust-chec + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #8a8a8a;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 50%;
}

.pop-up-reviews-card__cust-chec:not(:disabled):not(:checked) + label:hover::before {
  border-color: #009b3e;
}

.pop-up-reviews-card__cust-chec:not(:disabled):active + label::before {
  background-color: #009b3e;
  border-color: #009b3e;
}

.pop-up-reviews-card__cust-chec:checked + label::before {
  border-color: #009b3e;
  background-color: #ffffff;
  background-image: url("/icon/circle-green-icon-card.svg");
}

.pop-up-reviews-card__cust-chec:disabled + label::before {
  background-color: #ffffff;
}

.pop-up-reviews-card__btn-wrp {
  margin-bottom: 25px;
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pop-up-reviews-card__btn-cancel {
  padding: 8px 16px;
  background-color: #8a8a8a;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  margin-right: 16px;
}

.pop-up-reviews-card__btn {
  min-height: 40px;
  max-width: 273px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #009b3e;
  font-size: 18px;
  max-width: none;
  width: auto;
  padding: 0 16px;
}

.pop-up-reviews-card__btn:hover {
  background-color: #287231;
}

.pop-up-reviews-card__text-wrp {
  max-width: 467px;
  color: #8a8a8a;
  font-size: 16px;
  text-align: center;
}

.pop-up-reviews-card__text-link {
  color: #009b3e;
}

.activPopUpRev {
  display: none;
}

.card-product-new-wrp {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #393d38;
  font-family: "Roboto", sans-serif;
}

.card-product-new-name {
  margin-bottom: 18px;
  padding-top: 19px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1516px) {
  .card-product-new-name {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-product-new-name__text {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 400;
}

@media (max-width: 960px) {
  .card-product-new-name__text {
    font-size: 24px;
  }
}

.card-product-new-name__text-bol {
  font-weight: 600;
}

@media (max-width: 960px) {
  .card-product-new-name__text-bol {
    display: block;
  }
}

.card-prod-wrp-cont {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #393d38;
}

@media (max-width: 1516px) {
  .card-prod-wrp-cont {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 960px) {
  .card-prod-wrp-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-info {
  max-width: 894px;
  width: 100%;
}

.card-prod-info__price-btn {
  min-height: 40px;
  max-width: 273px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #009b3e;
  font-size: 18px;
}

.card-prod-info__price-btn:hover {
  background-color: #287231;
}

@media (max-width: 680px) {
  .card-prod-info__price-btn {
    max-width: none;
  }
}

@media (max-width: 960px) {
  .card-prod-info {
    max-width: 100%;
  }
}

@media (max-width: 860px) {
  .card-prod-info__price-dez {
    display: none;
  }
}

.card-prod-info__price {
  margin-bottom: 16px;
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1376px) {
  .card-prod-info__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-prod-info__price-buy {
  max-width: 273px;
  width: 100%;
}

@media (max-width: 1080px) {
  .card-prod-info__price-buy {
    margin-bottom: 10px;
  }
}

@media (max-width: 860px) {
  .card-prod-info__price-buy {
    max-width: none;
    margin-bottom: 0;
  }
}

.card-prod-info__price-buy-wrp {
  max-width: 272px;
  width: 100%;
  margin-right: 15px;
}

@media (max-width: 860px) {
  .card-prod-info__price-buy-wrp {
    max-width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 1376px) {
  .card-prod-info__price-buy-wrp {
    margin-bottom: 16px;
  }
}

.card-prod-info__price-btn {
  min-height: 40px;
  max-width: 273px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #009b3e;
  font-size: 18px;
}

.card-prod-info__price-btn:hover {
  background-color: #287231;
}

@media (max-width: 860px) {
  .card-prod-info__price-btn {
    max-width: none;
  }
}

.card-prod-info__olp-price {
  font-size: 18px;
  color: #363636;
  text-decoration: line-through;
}

@media (max-width: 680px) {
  .card-prod-info__olp-price {
    font-size: 16px;
  }
}

.card-prod-info__price-sale {
  display: none;
}

@media (max-width: 680px) {
  .card-prod-info__price-sale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-prod-info__price-sale-wrp {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 680px) {
  .card-prod-info__price-sale-wrp {
    margin-bottom: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 860px) {
  .card-prod-info__volue-wrp {
    margin-bottom: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-prod-info__volue-sale {
  margin-bottom: 10px;
  color: #ff0000;
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 860px) {
  .card-prod-info__volue-sale {
    margin-bottom: 0;
    margin-right: 7px;
    font-size: 24px;
  }
}

.card-prod-info__volue {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 860px) {
  .card-prod-info__volue {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.card-prod-info__sale {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .card-prod-info__sale {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-prod-info__sale-text {
  height: 85px;
  padding: 30px 13px;
  margin-right: 16px;
  background-color: #e25750;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 680px) {
  .card-prod-info__sale-text {
    display: none;
  }
}

.card-prod-info__title-text {
  max-width: 488px;
  font-size: 20px;
}

@media (max-width: 1376px) {
  .card-prod-info__title-text {
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .card-prod-info__title-text {
    font-size: 14px;
  }
}

.card-prod-info__title {
  margin-bottom: 10px;
  font-weight: 700;
  color: #ff0000;
}

@media (max-width: 600px) {
  .card-prod-info__title {
    margin-bottom: 0;
  }
}

.card-prod-info__text {
  font-weight: 400;
}

@media (max-width: 600px) {
  .card-prod-info__text {
    margin-bottom: 10px;
  }
}

.card-prod-info__sale-wrp {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-prod-info__availability {
  margin-right: 16px;
  margin-bottom: 10px;
  min-height: 40px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 6px;
  background-color: #009b3e1a;
  color: #009b3e;
  white-space: nowrap;
}

@media (max-width: 680px) {
  .card-prod-info__availability {
    display: none;
  }
}

.card-prod-info__availability-mob {
  display: none;
  min-height: 40px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 6px;
  background-color: #009b3e1a;
  color: #009b3e;
  white-space: nowrap;
}

@media (max-width: 860px) {
  .card-prod-info__availability-mob {
    display: block;
    min-height: 29px;
  }
}

.card-prod-info__wrp-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 680px) {
  .card-prod-info__wrp-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-prod-info__img-pos-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 680px) {
  .card-prod-info__img-pos-wrp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-prod-info__img-pos {
  max-width: 118px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #009b3e;
  font-size: 10px;
  line-height: 12px;
}

.card-prod-info__img-pos img {
  margin-right: 5px;
}

@media (max-width: 680px) {
  .card-prod-info__img-pos {
    max-width: 100px;
    font-size: 8px;
  }
}

.card-prod-info__tools-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 680px) {
  .card-prod-info__tools-wrp {
    display: none;
  }
}

.card-prod-info__tools-wrp-mob {
  display: none;
}

@media (max-width: 680px) {
  .card-prod-info__tools-wrp-mob {
    max-width: 90px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card-prod-info__tools {
  margin-right: 39px;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-prod-info__tools img {
  margin-right: 10px;
}

@media (max-width: 680px) {
  .card-prod-info__tools img {
    margin-right: 0;
  }
}

@media (max-width: 680px) {
  .card-prod-info__tools {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.card-prod-info__guarante-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

@media (max-width: 680px) {
  .card-prod-info__guarante-wrp {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.card-prod-info__guarante-img {
  margin-right: 10px;
}

.card-prod-info__guarante-text {
  max-width: 189px;
  margin-right: 16px;
}

@media (max-width: 680px) {
  .card-prod-info__guarante-text {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .card-prod-info__kod {
    display: none;
  }
}

.card-prod-info__guarante-text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-prod-info-deliv {
  margin-bottom: 16px;
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.card-prod-info-deliv__title {
  margin-bottom: 13px;
  position: relative;
  font-size: 18px;
}

.card-prod-info-deliv__line {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
  z-index: 1;
}

.card-prod-info-deliv__title-wrp {
  position: relative;
}

.card-prod-info-deliv__btn-wrp {
  font-size: 16px;
}

.card-prod-info-deliv__btn-od {
  margin-right: 10px;
  position: relative;
  padding-top: 10px;
  border-top: 3px solid #009b3e00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 2;
}

.card-prod-info-deliv__btn-od:hover, .card-prod-info-deliv__btn-od:active {
  color: #009b3e;
  border-top: 3px solid #009b3e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card-prod-info-deliv__btn-ua {
  margin-right: 10px;
  position: relative;
  padding-top: 10px;
  border-top: 3px solid #009b3e00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 2;
}

.card-prod-info-deliv__btn-ua:hover, .card-prod-info-deliv__btn-ua:active {
  color: #009b3e;
  border-top: 3px solid #009b3e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card-prod-info-deliv__btn-wrp {
  margin-bottom: 16px;
  position: relative;
}

.card-prod-info-deliv__text-green {
  color: #009b3e;
}

.card-prod-info-deliv__text-gray {
  color: #8a8a8a;
}

.card-prod-info-deliv__wrp-condi {
  position: relative;
  font-size: 16px;
}

.card-prod-info-deliv__wrp-condi-od {
  margin-bottom: 10px;
}

.card-prod-info-deliv__wrp-text-od {
  margin-bottom: 10px;
}

.card-prod-info-deliv__wrp-ua-pos {
  position: absolute;
  top: 0;
  opacity: 0;
}

.card-prod-info-deliv__wrp-od-pos {
  opacity: 0;
}

.card-prod-info-payment {
  margin-bottom: 16px;
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-info-payment__wrp-icon {
  max-width: 451px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-prod-info-payment__border {
  height: 40px;
  padding: 0 15px;
  margin-right: 16px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #009b3e;
}

.card-prod-description-mini {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-description-mini__btn {
  color: #009b3e;
  text-decoration: underline;
  font-size: 16px;
}

.card-prod-description-mini__title-text {
  margin-bottom: 10px;
  font-size: 18px;
}

.card-prod-description-mini__text {
  margin-bottom: 10px;
  font-size: 16px;
}

.cardProdInfoDelivActive {
  opacity: 1;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.card-prod-specific {
  margin-bottom: 16px;
}

.card-prod-specific__wrp-cont {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-specific__wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1.7fr;
      grid-template-columns: 0.9fr 1.7fr;
  -ms-grid-rows: 0.2fr 0.2fr 0.2fr;
      grid-template-rows: 0.2fr 0.2fr 0.2fr;
  font-size: 16px;
}

.card-prod-specific__title {
  margin-bottom: 16px;
  font-size: 18px;
}

.card-prod-specific__article {
  font-weight: 400;
  text-transform: uppercase;
  color: #8a8a8a;
}

.card-prod-specific__value-wrp {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .vue-buttomSemiTransparent {
    max-width: 510px;
    width: 100%;
  }
}

.card-prod-descriptiom {
  margin-bottom: 16px;
  font-size: 16px;
}

.card-prod-descriptiom__wrp {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-descriptiom__title {
  margin-bottom: 16px;
  font-size: 18px;
}

.card-prod-downloads {
  margin-bottom: 16px;
  font-size: 16px;
}

.card-prod-downloads__wrp {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0;
}

.card-prod-downloads__title {
  padding-top: 16px;
  padding-left: 16px;
}

.card-prod-downloads__heading {
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 0.8fr 0.8fr 0.8fr 1.3fr;
      grid-template-columns: 2.1fr 0.8fr 0.8fr 0.8fr 1.3fr;
  -ms-grid-rows: 0.2fr;
      grid-template-rows: 0.2fr;
  text-align: center;
  color: #8a8a8a;
}

@media (max-width: 960px) {
  .card-prod-downloads__heading {
    -ms-grid-columns: 1.5fr 1.1fr 1.1fr;
        grid-template-columns: 1.5fr 1.1fr 1.1fr;
    -ms-grid-rows: 0.2fr;
        grid-template-rows: 0.2fr;
  }
}

.card-prod-downloads__heading-type {
  text-align: left;
}

.card-prod-downloads__technical-doc {
  border-top: 1px solid #009b3e;
  background-color: #009b3e1a;
}

.card-prod-downloads__technical-doc-title {
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px;
}

.card-prod-downloads__technical-doc-text {
  font-size: 16px;
  color: #009b3e;
}

.card-prod-downloads__technical-datachit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 0.8fr 0.8fr 0.8fr 1.3fr;
      grid-template-columns: 2.1fr 0.8fr 0.8fr 0.8fr 1.3fr;
  -ms-grid-rows: 0.2fr;
      grid-template-rows: 0.2fr;
  text-align: center;
}

@media (max-width: 960px) {
  .card-prod-downloads__technical-datachit {
    -ms-grid-columns: 1.5fr 1.1fr 1.1fr;
        grid-template-columns: 1.5fr 1.1fr 1.1fr;
    -ms-grid-rows: 0.2fr;
        grid-template-rows: 0.2fr;
  }
}

.card-prod-downloads__technical-data-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #009b3e;
  text-decoration: underline;
}

@media (max-width: 960px) {
  .card-prod-downloads__technical-data-down-img {
    display: none;
  }
}

@media (max-width: 960px) {
  .card-prod-downloads__date {
    display: none;
  }
}

.card-prod-downloads__technical-data-text {
  margin-right: 10px;
}

@media (max-width: 960px) {
  .card-prod-downloads__technical-data-text {
    margin-right: 0;
  }
}

.card-prod-cont-wrp {
  max-width: 1197px;
  width: 100%;
  margin-right: auto;
  margin-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 860px) {
  .card-prod-cont-wrp {
    margin-right: 0;
  }
}

.card-prod-promotional-goods {
  padding: 0;
}

.card-prod-promotional-goods__title {
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 32px;
  font-size: 24px;
}

.card-prod-promotional-goods__wrp {
  background-color: #009b3e1a;
}

.card-prod-reviews {
  margin-bottom: 16px;
  max-width: 1197px;
  width: 100%;
  margin-right: auto;
}

@media (max-width: 1516px) {
  .card-prod-reviews {
    margin-right: 16px;
  }
}

.card-prod-reviews__wrp {
  padding-top: 20px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.card-prod-reviews__title {
  margin-bottom: 16px;
  font-size: 18px;
}

.card-prod-reviews__btn {
  min-height: 40px;
  max-width: 273px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #009b3e;
  font-size: 18px;
  max-width: 250px;
}

.card-prod-reviews__btn:hover {
  background-color: #287231;
}

@media (max-width: 680px) {
  .card-prod-reviews__btn {
    max-width: 100%;
  }
}

.card-prod-reviews__btn-wrp {
  margin-bottom: 16px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009b3e1a;
  border: 1px solid #009b3e;
  border-radius: 8px;
}

@media (max-width: 680px) {
  .card-prod-reviews__btn-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-prod-reviews__btn-text {
  font-size: 18px;
  color: #009b3e;
}

@media (max-width: 680px) {
  .card-prod-reviews__btn-text {
    margin-bottom: 10px;
  }
}

.card-prod-reviews__box {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-prod-reviews__img-name {
  margin-right: 10px;
  max-width: 62px;
  width: 100%;
  height: 62px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.card-prod-reviews__wrp-name {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-prod-reviews__name {
  padding-left: 5px;
  margin-bottom: 6px;
  font-size: 18px;
}

.card-prod-reviews__name-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-prod-reviews__text {
  margin-bottom: 16px;
  font-size: 16px;
}

.card-prod-reviews__text-like {
  max-width: 330px;
  width: 100%;
  padding-left: 8px;
  font-size: 14px;
}

.card-prod-reviews__text-like-green {
  color: #009b3e;
}

.card-prod-reviews__like-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 680px) {
  .card-prod-reviews__like-wrp {
    margin-bottom: 16px;
  }
}

.card-prod-reviews__text-dislike-red {
  color: #e25750;
}

.card-prod-reviews__likes {
  max-width: 800px;
  width: 100%;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 680px) {
  .card-prod-reviews__likes {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-prod-reviews__answer {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #009b3e;
  text-decoration: underline;
}

.card-prod-reviews__answer-pos {
  max-width: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-prod-reviews__answer-pos-icon {
  margin-right: 10px;
}

.card-prod-reviews__line {
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
  background-color: #8a8a8a;
}

.card-prod-reviews__line-ver {
  width: 10px;
  margin-right: 21px;
  background-color: #009b3e;
  border-radius: 34px;
}

@media (max-width: 680px) {
  .card-prod-reviews__line-ver {
    display: none;
  }
}

.card-prod-reviews__wrp-gv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.viewed-prod-card__title {
  padding-left: 16px;
  font-size: 24px;
  font-weight: 600;
}

.card-prod-body-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1516px) {
  .card-prod-body-cont {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-new-navig {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.card-prod-new-navig__line {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
  z-index: 1px;
}

.card-prod-new-navig__wrp {
  max-width: 849px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  color: #393d38;
  overflow-x: auto;
  scrollbar-color: #458245 #714826;
}

@media (max-width: 960px) {
  .card-prod-new-navig__wrp {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }
}

.card-prod-new-navig__list {
  border-top: 3px solid #009b3e00;
  padding-top: 11px;
  margin-bottom: 11px;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
  white-space: nowrap;
}

.card-prod-new-navig__list + .card-prod-new-navig__list {
  margin-left: 40px;
}

.card-prod-new-navig__list:hover, .card-prod-new-navig__list:active {
  color: #009b3e;
  border-top: 3px solid #009b3e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 960px) {
  .card-prod-new-navig__list {
    margin-bottom: 16px;
  }
}

.floating-card-prod {
  width: 286px;
  position: sticky;
  position: -webkit-sticky;
  top: 16px;
  background-color: #ffffff;
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.floating-card-prod__wrp {
  position: relative;
}

.floating-card-prod__icon-wrp {
  position: absolute;
  top: 0;
  right: 0;
}

.floating-card-prod__icon-like {
  margin-bottom: 21px;
}

.floating-card-prod__price {
  display: none;
  font-size: 34px;
}

.floating-card-prod__price-wrp {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.floating-card-prod__price-sale {
  margin-right: 7px;
  color: #ff0000;
  font-size: 34px;
  font-weight: 600;
}

.floating-card-prod__old-price {
  font-size: 16px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.floating-card-prod__name {
  margin-bottom: 5px;
  font-size: 14px;
}

.floating-card-prod__art {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.floating-card-prod__btn {
  margin-top: 10px;
  min-height: 40px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 6px;
  background-color: #009b3e1a;
  color: #009b3e;
  white-space: nowrap;
}

.floating-card-prod__btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.floating-card-prod__pos-wrp {
  position: -webkit-sticky;
  position: sticky;
  top: 16px;
}

@media (max-width: 860px) {
  .floating-card-prod__pos-wrp {
    display: none;
  }
}

.card-prod-all-about-prod {
  display: none;
}

.card-prod-nav-specificarins {
  display: none;
}

.card-prod-nav-specificarins__wrp {
  max-width: 1197px;
  width: 100%;
  margin-right: auto;
  margin-right: 16px;
}

@media (max-width: 860px) {
  .card-prod-nav-specificarins__wrp {
    margin-right: 0;
  }
}

.card-prod-nav-specificarins__specif {
  margin-bottom: 16px;
}

.card-prod-nav-specificarins__desc {
  margin-bottom: 16px;
}

.card-prod-nav-specificarins__pos-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1516px) {
  .card-prod-nav-specificarins__pos-wrp {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.fixed-price-mob {
  display: none;
  z-index: 20;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 860px) {
  .fixed-price-mob {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
}

.fixed-price-mob__wrp {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

@media (max-width: 860px) {
  .floating-card-prod-mob {
    display: none;
  }
}

.card-prod-nav-multimedia {
  display: none;
}

@media (max-width: 1516px) {
  .card-prod-nav-multimedia {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-prod-nav-multimedia__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-prod-nav-multimedia__wrp-pos {
  padding-top: 16px;
  width: 100%;
}

@media (max-width: 1516px) {
  .card-prod-nav-multimedia__wrp-pos {
    margin-right: 16px;
  }
}

.card-prod-nav-multimedia__title {
  padding-left: 16px;
  padding-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 860px) {
  .card-prod-nav-multimedia__title {
    font-size: 16px;
  }
}

.card-prod-nav-multimedia__safety {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1197px;
  width: 100%;
  margin-right: auto;
  padding-bottom: 0;
  font-size: 18px;
}

.card-prod-nav-multimedia__safety-vid {
  max-width: 560px;
  width: 100%;
  margin-bottom: 12px;
}

.card-prod-nav-multimedia__safety-vid-wrp {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-prod-nav-downloads {
  display: none;
}

.card-prod-nav-downloads__wrp {
  max-width: 1197px;
  width: 100%;
  margin-right: auto;
  margin-right: 16px;
}

@media (max-width: 860px) {
  .card-prod-nav-downloads__wrp {
    margin-right: 0;
  }
}

.card-prod-nav-downloads__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1516px) {
  .card-prod-nav-downloads__cont-wrp {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.active-js-nav {
  display: block;
}

.cardProdInfoDelivActiveOd {
  color: #009b3e;
  border-top: 3px solid #009b3e;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navActivColor {
  color: #009b3e;
  border-top: 3px solid #009b3e;
}

.card-prod-wrp-cont {
  font-family: "Roboto", sans-serif;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  line-height: 0.75;
}

.rating__value {
  font-size: 50%;
  color: #009b3e;
  text-decoration: underline;
}

.rating__body {
  margin-right: 16px;
  position: relative;
}

.rating__body::before {
  content: url("/icon/star-card-product-total-des.svg");
  display: block;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  height: 100%;
  opacity: 0;
}

.rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: url("/icon/star-card-product-total.svg");
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=main_card.css.map */