.appendix {
    &__wrp {
        @include boxCardProd;

        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;

        @include mobileWidth {
            background-size: 0;
        }
    }

    &__title-text {
        margin-bottom: 16px;

        color: $colorCard;
        font-size: 18px;
        font-weight: 700;
    }

    &__btn-wrp {
        max-width: 160px;
        width: 100%;
        height: 54px;

        border: 2px solid $colorCard;
        border-radius: 8px;
        background-color: #ffffff;

        @include mobileWidth {
            max-width: initial;
        }
    }

    &__btn-text {
        font-size: 12px;
    }

    &__btn-text-serve {
        font-size: 14px;
        font-weight: 700;
    }

    &__btn-link {
        @extend %pos-cent-flex;
        gap: 6px;
    }

    &__btns-wrp {
        max-width: 348px;
        width: 100%;

        gap: 16px;

        display: flex;
        justify-content: space-between;

        @include mobileWidth {
            max-width: initial;
        }
    }
}

