@import "_normalize";
@import "_main_variable_gv.scss";
@import "_styleAdaptive.scss";
@import "_slider-card-prod.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.card-product-new-wrp {
  @include pageGredCard;
}

.card-product-new-name {
  margin-bottom: 18px;
  padding-top: 19px;
  // display: flex;
  font-family: $fontRobotoReg;
  @include startAdaptiveSmol {
    & {
      @include padMob;
    }
  }
  &__text {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 400;
    @include bigMobileWidth {
      & {
        font-size: 24px;
      }
    }
  }
  &__text-bol {
    font-weight: 600;
    @include bigMobileWidth {
      & {
        display: block;
      }
    }
  }
}
.card-prod-new-navig {
  position: relative;
  font-family: $fontRobotoReg;
  &__line {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
    z-index: 1px;
  }
  &__wrp {
    max-width: 849px;
    width: 100%;
    // padding-top: 9px;
    @include cenMarg;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: $colorCardProd;
    overflow-x: auto;
    scrollbar-color: #458245 #714826;
    @include bigMobileWidth {
      & {
        @include padMob;
        font-size: 14px;
      }
    }
  }
  &__list {
    border-top: 3px solid #009b3e00;
    padding-top: 11px;
    margin-bottom: 11px;
    z-index: 10;
    transition: 0.6s;
    cursor: pointer;
    white-space: nowrap;
    & + & {
      margin-left: 40px;
    }
    &:hover,
    &:active {
      color: $colorCard;
      border-top: 3px solid $colorCard;
      transition: 0.6s;
    }
    @include bigMobileWidth {
      & {
        margin-bottom: 16px;
      }
    }
  }
}

.card-prod-wrp-cont {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  color: $colorCardProd;
  @include startAdaptiveSmol {
    & {
      @include padMob;
    }
  }
  @include bigMobileWidth {
    & {
      flex-direction: column;
      align-items: center;
      @include padMob;
    }
  }
  @extend %textMain;
  @at-root {
    .card-prod-info {
      max-width: 894px;
      width: 100%;
      &__icon-wrp {
      }
      &__price {
        margin-bottom: 16px;
        @include boxCardProd;
        display: flex;
        @include smallestScreenWidth {
          & {
            flex-direction: column;
          }
        }
      }
      &__price-buy {
        max-width: 273px;
        width: 100%;
        @include smallestScreenWidth {
          & {
            margin-bottom: 20px;
          }
        }
        @include mobileWidth {
          & {
            max-width: none;
          }
        }
      }
      &__price-buy-wrp {
        max-width: 272px;
        width: 100%;
        margin-right: 15px;
        @include mobileWidth {
          & {
            margin-right: 0;
          }
        }
      }
      &__price-btn {
        @include btnCardBuy;
        &:hover {
          background-color: $colorHov;
        }
        @include mobileWidth {
          & {
            max-width: none;
          }
        }
      }
      &__olp-price {
        font-size: 18px;
        color: #363636;
        text-decoration: line-through;
        @include mobileWidth {
          & {
            font-size: 16px;
          }
        }
      }
      &__price-sale {
        display: none;
        @include mobileWidth {
          & {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
          }
        }
      }
      &__price-sale-wrp {
        display: none;
        @include mobileWidth {
          & {
            margin-bottom: 14px;
            // display: flex; раскоментировать что бы работало
            justify-content: space-between;
          }
        }
      }
      &__volue-wrp {
        @include mobileWidth {
          & {
            margin-bottom: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
      &__volue-sale {
        margin-bottom: 10px;
        color: #ff0000;
        font-size: 48px;
        font-weight: 600;
        @include mobileWidth {
          & {
            margin-bottom: 0;
            margin-right: 7px;
            font-size: 24px;
          }
        }
      }
      &__volue {
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: 600;
        @include mobileWidth {
          & {
            font-size: 24px;
          }
        }
      }
      &__sale {
        margin-bottom: 16px;
        display: flex;
        @include boxCardProd;
        justify-content: space-between;
        align-items: center;
        @include mobileHeight {
          & {
            flex-direction: column;
          }
        }
      }
      &__sale-text {
        height: 85px;
        padding: 30px 13px;
        margin-right: 16px;
        background-color: #e25750;
        border-radius: 50%;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        @include mobileWidth {
          & {
            display: none;
          }
        }
      }
      &__title-text {
        max-width: 488px;
        font-size: 20px;
        @include smScreenWidth {
          & {
            font-size: 16px;
          }
        }
        @include bigMobileWidth {
          & {
            font-size: 14px;
          }
        }
      }
      &__title {
        margin-bottom: 10px;
        font-weight: 700;
        color: #ff0000;
        @include mobileHeight {
          & {
            margin-bottom: 0;
          }
        }
      }
      &__text {
        font-weight: 400;
        @include mobileHeight {
          & {
            margin-bottom: 10px;
          }
        }
      }
      &__sale-wrp {
        margin-right: 16px;
        display: flex;
      }
      &__availability {
        margin-right: 16px;
        margin-bottom: 10px;
        @include btnCardTransparent;
        @include mobileWidth {
          & {
            display: none;
          }
        }
      }
      &__availability-mob {
        display: none;
        @include btnCardTransparent;
        @include mobileWidth {
          & {
            display: block;
            min-height: 40px;
          }
        }
      }
      &__wrp-img {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include mobileWidth {
          & {
            justify-content: center;
          }
        }
      }
      &__img-pos-wrp {
        display: flex;
        flex-wrap: wrap;
        @include mobileWidth {
          & {
            justify-content: center;
          }
        }
      }
      &__img-pos {
        max-width: 118px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $colorCard;
        font-size: 10px;
        line-height: 12px;
        img {
          margin-right: 5px;
        }
        @include mobileWidth {
          & {
            max-width: 100px;
            font-size: 8px;
          }
        }
      }
      &__tools-wrp {
        display: flex;
        flex-wrap: wrap;
        @include mobileWidth {
          & {
            display: none;
          }
        }
      }
      &__tools-wrp-mob {
        display: none;
        @include mobileWidth {
          & {
            max-width: 90px;
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      &__tools {
        margin-right: 39px;
        margin-bottom: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-right: 10px;
          @include mobileWidth {
            & {
              margin-right: 0;
            }
          }
        }
        @include mobileWidth {
          & {
            margin-right: 0;
            margin-bottom: 0;
          }
        }
      }
      &__guarante-wrp {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 16px;
        @include mobileWidth {
          & {
            align-items: flex-end;
          }
        }
      }
      &__guarante-img {
        margin-right: 10px;
      }
      &__guarante-text {
        max-width: 189px;
        margin-right: 16px;
        @include mobileWidth {
          & {
            font-size: 14px;
          }
        }
      }
      &__kod {
        @include mobileWidth {
          & {
            display: none;
          }
        }
      }
      &__guarante-text-img {
        display: flex;
        align-items: center;
      }
    }
    @at-root {
      .card-prod-info-deliv {
        margin-bottom: 16px;
        @include boxCardProd;
        position: relative;
        &__title {
          margin-bottom: 13px;
          position: relative;
          font-size: 18px;
        }
        &__line {
          position: absolute;
          top: 1px;
          width: 100%;
          height: 1px;
          background-color: #c4c4c4;
          z-index: 1;
        }
        &__title-wrp {
          position: relative;
        }
        &__btn-wrp {
          font-size: 16px;
        }
        &__btn-od {
          @include deliveryBtn;
          &:hover,
          &:active {
            @include deliveryBtnHov;
          }
        }
        &__btn-ua {
          @include deliveryBtn;
          &:hover,
          &:active {
            @include deliveryBtnHov;
          }
        }
        &__btn-wrp {
          margin-bottom: 16px;
          position: relative;
        }
        &__text-green {
          color: $colorCard;
        }
        &__text-gray {
          color: #8a8a8a;
        }
        &__wrp-condi {
          position: relative;
          font-size: 16px;
        }
        &__wrp-condi-od {
          margin-bottom: 10px;
        }
        &__wrp-text-od {
          margin-bottom: 10px;
        }
        &__wrp-ua-pos {
          position: absolute;
          top: 0;
          opacity: 0;
        }
        &__wrp-od-pos {
          opacity: 0;
        }
      }
      .card-prod-info-payment {
        margin-bottom: 16px;
        @include boxCardProd;
        &__wrp-icon {
          max-width: 451px;
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-between;
        }
        &__border {
          height: 40px;
          padding: 0 15px;
          margin-right: 16px;
          margin-top: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: 1px solid $colorCard;
        }
      }
      .card-prod-description-mini {
        @include boxCardProd;
        &__btn {
          @include underlinedGreenText;
          font-size: 16px;
        }
        &__title-text {
          margin-bottom: 10px;
          font-size: 18px;
        }
        &__text {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }
}

.card-prod-specific {
  margin-bottom: 16px;
  &__wrp-cont {
    @include boxCardProd;
  }
  &__wrp {
    display: grid;
    grid-template-columns: 0.9fr 1.7fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    font-size: 16px;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 18px;
  }
  &__article {
    font-weight: 400;
    text-transform: uppercase;
    color: $colorCardGrey;
  }
  &__value-wrp {
    margin-bottom: 10px;
  }
}

.vue-buttomSemiTransparent {
  @include mobileHeight {
    & {
      max-width: 510px;
      width: 100%;
    }
  }
}

.card-prod-descriptiom {
  margin-bottom: 16px;
  font-size: 16px;
  &__wrp {
    @include boxCardProd;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 18px;
  }
}

.card-prod-downloads {
  margin-bottom: 16px;
  font-size: 16px;
  &__wrp {
    @include boxCardProd;
    padding: 0;
  }
  &__title {
    padding-top: 16px;
    padding-left: 16px;
  }
  &__heading {
    padding-top: 16px;
    padding-left: 16px;
    margin-bottom: 16px;
    @include gridDowloads;
    color: $colorCardGrey;
    @include bigMobileWidth {
      & {
        grid-template-columns: 1.5fr 1.1fr 1.1fr;
        grid-template-rows: 0.2fr;
      }
    }
  }
  &__heading-type {
    text-align: left;
  }
  &__technical-doc {
    border-top: 1px solid $colorCard;
    background-color: $colorBackSlider;
  }
  &__technical-doc-title {
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 10px;
  }
  &__technical-doc-text {
    font-size: 16px;
    color: $colorCard;
  }
  &__technical-datachit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    @include gridDowloads;
    @include bigMobileWidth {
      & {
        grid-template-columns: 1.5fr 1.1fr 1.1fr;
        grid-template-rows: 0.2fr;
      }
    }
  }
  &__technical-data-down {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorCard;
    text-decoration: underline;
  }
  &__technical-data-down-img {
    @include bigMobileWidth {
      & {
        display: none;
      }
    }
  }
  &__date {
    @include bigMobileWidth {
      & {
        display: none;
      }
    }
  }
  &__technical-data-text {
    margin-right: 10px;
    @include bigMobileWidth {
      & {
        margin-right: 0;
      }
    }
  }
}

.card-prod-cont-wrp {
  @include widthCardCont;
  margin-right: 16px;
  box-sizing: border-box;
}

.card-prod-promotional-goods {
  padding: 0;
  &__title {
    padding-top: 16px;
    padding-left: 16px;
    margin-bottom: 32px;
    font-size: 24px;
  }
  &__wrp {
    background-color: $colorBackSlider;
  }
}

.card-prod-reviews {
  margin-bottom: 16px;
  @include widthCardCont;
  &__wrp {
    padding-top: 20px;
    padding-left: 16px;
    margin-bottom: 16px;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 18px;
  }
  &__btn {
    @include btnCardWhiteBackground;
  }
  &__box {
    @include boxCardProd;
  }
  &__img-name {
    margin-right: 10px;
    @include circleGray;
  }
  &__wrp-name {
    margin-bottom: 16px;
    display: flex;
  }
  &__name {
    padding-left: 5px;
    margin-bottom: 6px;
    font-size: 18px;
  }
  &__name-pos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__text {
    margin-bottom: 16px;
    font-size: 16px;
  }
  &__text-like {
    max-width: 330px;
    width: 100%;
    padding-left: 8px;
    font-size: 14px;
  }
  &__text-like-green {
    color: $colorCard;
  }
  &__like-wrp {
    display: flex;
    @include mobileWidth {
      & {
        margin-bottom: 16px;
      }
    }
  }
  &__text-dislike-red {
    color: #e25750;
  }
  &__likes {
    max-width: 800px;
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    @include mobileWidth {
      & {
        margin-bottom: 0;
        flex-direction: column;
      }
    }
  }
  &__answer {
    margin-bottom: 16px;
    display: flex;
    color: $colorCard;
    text-decoration: underline;
  }
  &__answer-pos {
    max-width: 100px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__line {
    width: 100%;
    height: 1px;
    margin-bottom: 16px;
    background-color: $colorCardGrey;
  }
  &__line-ver {
    width: 10px;
    margin-right: 21px;
    background-color: $colorCard;
    border-radius: 34px;
    @include mobileWidth {
      & {
        display: none;
      }
    }
  }
  &__wrp-gv {
    display: flex;
  }
}

.viewed-prod-card {
  &__title {
    padding-left: 16px;
    @include textTitleSlid;
  }
}

.card-prod-body-cont {
  display: flex;
  flex-direction: row-reverse;
  @include startAdaptiveSmol {
    & {
      @include padMob;
    }
  }
}

.floating-card-prod {
  width: 286px;
  @include boxCardProd;
  &__wrp {
    position: relative;
  }
  &__icon-wrp {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__icon-like {
    margin-bottom: 21px;
  }
  &__price {
    display: none;
    font-size: 34px;
  }
  &__price-wrp {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
  }
  &__price-sale {
    margin-right: 7px;
    color: #ff0000;
    font-size: 34px;
    font-weight: 600;
  }
  &__old-price {
    font-size: 16px;
    text-decoration: line-through;
    text-transform: uppercase;
  }
  &__name {
    margin-bottom: 5px;
    font-size: 14px;
  }
  &__art {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__btn {
    margin-top: 10px;
    @include btnCardTransparent;
  }
  &__btn-wrp {
    display: flex;
    flex-direction: column;
  }
}

.cardProdInfoDelivActive {
  opacity: 1;
  transition: 0.9s;
}

.cardProdInfoDelivActiveOd {
  color: $colorCard;
  border-top: 3px solid #009b3e;
  transition: 0.6s;
}
